.selector {
    width: 350px;
    height: 350px;
    background-color: white;
}

.estatura{
    display: flex;
    width: 110px;
    height: 100px;
}

.color1{
    background-color: #e53e3e;
}

.color2{
background-color: #dd6b20;
}

.color3{
    background-color: #bbff00;
}

.color4{
    background-color: #00df4a;
}

.color5{
    background-color: #0080ff;
}

.color6{
    background-color: #360025;
}