.selector {
    width: 350px;
    height: 350px;
    background-color: white;
}

.estatura{
    display: flex;
    width: 110px;
    height: 100px;
}

.color1{
    background-color: #4d4141;
}

.color2{
background-color: #cc946f;
}

.color3{
    background-color: #866c53;
}

.color4{
    background-color: #395f46;
}

.color5{
    background-color: #6c8baa;
}

.color6{
    background-color: #8d4877;
}